<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Our Pets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      /* Add some basic styling */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #333;
        color: white;
        padding: 20px;
      }
      nav {
        background-color: #666;
        overflow: hidden;
      }
      nav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      nav a:hover {
        background-color: #ddd;
        color: black;
      }
    
      .login-register{
        float:right;
      }
      main {
        padding: 20px;
      }
      footer {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
      }
     
  /* User Profile */
  .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

header {
  background-color: #333;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
}

.profile-box {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 20px;
}

.profile {
  text-align: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  margin-bottom: 10px;
}

.bio {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  font-size: 16px;
  color: #777;
}

.logo-char{
  height: 100px;
  width:100px;
  border-radius:50%;
  background: #666;
  text-align: center;
  margin-left:320px;
  

}

/* Profile icon */
.profile-box1 {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #e1e1e1;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; 
      margin-left:270px;
    }

    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
    }

    .profile-name {
      margin-top: 10px;
      font-weight: bold;
      font-size: 100px;
      margin-left:10px;
    }
    .text{
      text-align: center;
    }
  </style>


  
  </head>
  <body>
    <header>
      <h1>OurPets</h1>
    </header>
    <nav>
      <a href="index">Home</a>
      <a href="#" id="add_p">Add Pets</a>
      <a href="">Adopted</a>
      <a href="Dogs">Dogs</a>
      <a href="Cats">Cats</a>
      <a href="UserProfile">Profile</a>
        
        </div>
    </nav>
    
    <br><br><br>
    <h1 class="text">User Profile</h1>
    <div class="container">
        <div class="profile-box">
          <div class="profile">
            
            <div class="profile-box1">
              
              <div class="profile-name">A</div>
            </div>
           
            <br>
            
            <h1 class="name">ABC</h1>
            <p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat euismod urna, et tincidunt urna commodo a. Integer ut vestibulum purus.</p>
            <ul class="contact-info">
              <li><i class="fas fa-envelope"></i> abc@gmail.com</li>
              <br>
              <li><i class="fas fa-phone"></i> Phone Number : 1234567890</li>
              <br>
              <li><i class="fa fa-whatsapp"></i> Whatsapp Number : 1234567890</li>
              <br>
              <li><i class="fas fa-map-marker"></i> State , City : </li>
            
            </ul>
          </div>
        </div>
      </div>
    <!-- <script>
      {{!-- Checking user login or not --}}
    let A = document.querySelector("#add_p");

    A.addEventListener("click", fun);

    let C = 43;
    function fun() {
      alert("Please login first")
    }
  </script> -->
    <footer>
      <p>&copy; 2024 OurPets</p>
    </footer>
  </body>
</html>